
.login-container{
    /* border: 2px solid black;  */
    position: fixed; 
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.686);
}
.login-div{
    /* height: 50vh; */
    background-color: rgba(255, 255, 255,.9);
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.247); 
    flex-direction: column;
    width:fit-content;
    /* margin: 0 auto; */
    display: flex;
    padding: 20px 30px;
   
}
.login-head i{
    /* border: 2px solid black;  */
    border-radius: 50px;
    color: #1D2530;

} 
.login-head i:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.266);
}
.login-head{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    /* color: #1D2530; */
     color: #FF3C1F;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:10px;
    margin:5px 0; 
}
.form input{
    outline: none;
    padding: 25px 10px 7px 10px;
    border: none;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.43);
    position: relative;
    /* z-index: 9; */
}
.form input:focus::placeholder{
    position: absolute;
    transform: translateY(-20px);
    /* z-index: 10; */
}
.login-btn{
    padding: 10px 20px;
    margin:20px 0;
    border: none;
    border-radius: 20px;
    background-color: #1D2530;
    color:rgba(255, 255, 255, 0.816);
    font-size: 18px;
    cursor: pointer;
    transition: all .2s ease;
}
.login-btn:hover{
   transform: scale(1.055);
}
.ckeck{
    display: flex;
    gap: 10px;
    color: #1D2530;
}
.ckeck p{
    margin-top: 10px;
}
.bottom{
    display: flex;
    gap: 10px;
}
.bottom span{
    color: rgb(14, 14, 152);
    cursor: pointer;
}