html{
  scroll-behavior: smooth;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  /* background-color: rgba(250, 235, 215, 0.484); */
  background-color: #E9E9E9;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.app{
  position: relative;
  /* margin: 0 2vw; */
}
